{% extends "base.html" %}

{% block content %}
    {% if edit %}
        <h2>edit post</h2>
    {% else %}
        <h2>new post</h2>
    {% endif %}

    <form method="post">
        <label>
            <div>subject</div>
            <input type="text" name="subject" value="{{subject}}">
        </label>

        <label>
            <div>blog</div>
            <textarea name="content">{{content}}</textarea>
        </label>

        <div class="error">{{error}}</div>

        <input type="submit">
    </form>

    {% if edit %}
        <br>
        <a href="/blog/post/{{ post_id }}" class = "add-comment">Cancel editing</a>
    {% endif %}
{% endblock %}
